.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial;

}

h1 {
  text-align: center;
  padding-top: 5%;
  font-size: 50px;
}
.app {
   padding: 30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.todo-list {
  background-image: url(https://us.filofax.com/media/catalog/product/cache/1/image/700x700/9df78eab33525d08d6e5fb8d27136e95/y/e/yellow-ruled-personal_2.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 4px;
  padding: 5px;
  width: 850px;
  height: 400px;
}

.todo {
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  margin-left: 20%;
  border-radius: 3px;
  display:flex;
}

.todo:hover {
  cursor: pointer;
  opacity: 0.4;
}

.label {
  font-family: 'Shadows Into Light', cursive;
  font-size: 28px;
  text-decoration:overline;
  margin-right: -5%;
}

.input {
  width: 40%;
  box-sizing: border-box;
  background-color: lightcyan;
  border-color: grey;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2em;
  font-size: 24px;
  font-family: 'Shadows Into Light', cursive;
  margin-left: 10%;
}

.input:hover {
  background-color:aquamarine;
}